n8n/Lead Intake v0.json
{
  "name": "Lead Intake v0",
  "nodes": [
    {
      "parameters": {
        "content": "Trigger set to every one minute when status is changed in the sheet.",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        448
      ],
      "typeVersion": 1,
      "id": "34088507-2f70-429e-9552-5fc9d2654519",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1-4faIPJpvvAhq3rcBNUc1npDT7QyAeSej3US5VW6Zus",
          "mode": "list",
          "cachedResultName": "Lead Intake Machine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-4faIPJpvvAhq3rcBNUc1npDT7QyAeSej3US5VW6Zus/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Received Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-4faIPJpvvAhq3rcBNUc1npDT7QyAeSej3US5VW6Zus/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        800,
        288
      ],
      "id": "e299f6b6-7edf-4f90-86c4-40d424a32523",
      "name": "Lead Change Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "E5oRkJSC0KTxsUfx",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "63ca79bb-e634-4bf7-a044-534e13b587ca",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        288
      ],
      "id": "f8484216-c25b-4f1b-b9db-113757052b7e",
      "name": "If lead type changed to \"New Lead\""
    },
    {
      "parameters": {
        "sendTo": "jhawaranimesh@gmail.com",
        "subject": "=New Lead: {{ $json.Name }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; color: #333; margin: 20px auto; padding: 25px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n\n  <h2 style=\"margin-bottom: 5px; color: #1a202c;\">New Lead Alert</h2>\n  <p style=\"margin-top: 0; color: #718096; font-size: 14px;\">{{ $json[\"Created at\"] }}</p>\n\n  <hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 20px 0;\">\n\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr>\n      <td style=\"padding: 10px 0; width: 130px; vertical-align: top;\"><strong>Name:</strong></td>\n      <td style=\"padding: 10px 0; color: #1a202c;\">{{ $json.Name }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px 0; vertical-align: top;\"><strong>Email:</strong></td>\n      <td style=\"padding: 10px 0;\">\n        <a href=\"mailto:{{ $json[\"Email Address\"] }}\" style=\"color: #2e7d32; text-decoration: none; font-weight: 500;\">\n          {{ $json[\"Email Address\"] }}\n        </a>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px 0; vertical-align: top;\"><strong>Phone:</strong></td>\n      <td style=\"padding: 10px 0; color: #1a202c;\">{{ $json[\"Phone Number\"] }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px 0; vertical-align: top;\"><strong>Category:</strong></td>\n      <td style=\"padding: 10px 0;\">\n        <span style=\"background: #f0fdf4; color: #166534; padding: 4px 10px; border-radius: 4px; font-size: 13px; font-weight: bold;\">\n          {{ $json.Status }}\n        </span>\n      </td>\n    </tr>\n  </table>\n\n  <hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 20px 0;\">\n\n  <p style=\"margin-bottom: 10px;\"><strong>Lead Details:</strong></p>\n  <div style=\"line-height: 1.6; background-color: #f8fafc; padding: 15px; border-radius: 6px; border: 1px solid #edf2f7; color: #2d3748; white-space: pre-line;\">\n    {{ $json[\"Lead Details\"] }}\n  </div>\n\n  <hr style=\"border: none; border-top: 1px solid #e2e8f0; margin: 20px 0;\">\n\n  <div style=\"font-size: 12px; color: #718096; line-height: 1.6;\">\n    <p style=\"margin: 0; text-transform: uppercase; font-size: 11px; font-weight: 700; color: #4a5568; margin-bottom: 8px;\">Source Tracking</p>\n    <strong>Referrer:</strong> {{ $json[\"Lead Source\"] }}<br>\n    <strong>Page URL:</strong> <a href=\"{{ $json[\"Submission URL\"] }}\" style=\"color: #2e7d32;\">{{ $json[\"Submission URL\"] }}</a><br>\n    <strong>UTMs:</strong> <span style=\"font-family: monospace; color: #a0aec0;\">{{ $json[\"Submission URL\"] }}</span>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        48
      ],
      "id": "81b537d3-cc66-4629-9b84-23639fbb2ecf",
      "name": "Send a message with lead information",
      "webhookId": "93be9f16-4d32-4bdb-a804-23125a9f8bc5",
      "credentials": {
        "gmailOAuth2": {
          "id": "TzGw32YyCdvQ239c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b233c40-2ce9-4f59-adb5-bc7b9a2508c1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        0
      ],
      "id": "15b5c595-ebc4-4c99-9f9b-73951807c374",
      "name": "If lead type is \"New Lead\""
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-4faIPJpvvAhq3rcBNUc1npDT7QyAeSej3US5VW6Zus/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Received Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $json.email }}",
            "Created at": "={{ $json.created_at }}",
            "Phone Number": "={{ $json.phone }}",
            "Name": "={{ $json.name }}",
            "Lead Details": "={{ $json.details }}",
            "Updated at": "={{ $now }}",
            "Customer Name": "={{ $json.customer_id }}",
            "Status": "={{ $json.status }}",
            "Submission URL": "={{ $json.submission_url }}",
            "Lead Source": "={{ $json.lead_source }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Details",
              "displayName": "Lead Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission URL",
              "displayName": "Submission URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Source",
              "displayName": "Lead Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated at",
              "displayName": "Updated at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        0
      ],
      "id": "cc9936e9-f4d0-4474-9f79-8f2edf5c214b",
      "name": "Updating CRM with lead information",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "glmCCkTB7mNglJzv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * Gushwork Lead Engine: Data Normalization & AI Integration\n * * PURPOSE: \n * 1. Sanitizes raw signals from Universal Lead Capture.\n * 2. Parses AI classification logic.\n * 3. Formats \"Fuzzy Matched\" metadata into a readable list for Google Sheets.\n */\n\n// 1. DATA ACQUISITION\n// Retrieve the raw body sent by the website webhook\nconst raw = $(\"Receiving information from webpage.\").first().json.body;\n\n// 2. AI CLASSIFICATION PARSING\n// Safely extract the JSON string from the AI/LLM node output\nlet aiText = \"\";\ntry {\n    // Attempt to access nested content structure from modern AI nodes\n    const output = $(\"Lead Classifier \").first().json.output[0];\n    aiText = output.content[0].text;\n} catch (e) {\n    // Fallback for standard or older n8n AI node structures\n    aiText = $(\"Lead Classifier \").first().json.content[0].text;\n}\n\n// Clean markdown artifacts (e.g., ```json) to ensure valid JSON parsing\naiText = aiText.replace(/```json|```/g, \"\").trim();\nconst aiResponse = JSON.parse(aiText);\n\n// 3. STATUS LOGIC\n// Standardize status and flag spam based on AI reasoning\nconst rawStatus = aiResponse.status || aiResponse.Status || \"New Lead\";\nconst finalStatus = rawStatus.toLowerCase().includes(\"spam\") ? \"Possible Spam\" : \"New Lead\";\n\n// 4. PHONE SANITIZATION\n// Prepend an apostrophe (') to phone numbers to prevent Google Sheets from \n// truncating leading zeros or converting large numbers to scientific notation.\nconst cleanPhone = raw.signals.phone[0] ? `'${raw.signals.phone[0]}` : \"No Phone\";\n\n// 5. TIMESTAMP STANDARDIZATION\n// Convert ISO strings into a human-readable format compatible with Google Sheets cells.\nconst leadDate = raw.timestamp ? new Date(raw.timestamp) : new Date();\nconst sheetDate = leadDate.toISOString().replace('T', ' ').split('.')[0];\nconst currentTime = new Date().toISOString().replace('T', ' ').split('.')[0];\n\n// 6. METADATA & EXTRA FIELDS (THE \"FUZZY\" DATA)\n// Capture all signals that didn't match Name/Email/Phone (e.g., Industry, Urgency, WhatsApp).\n// We join these with a newline character so they appear stacked in the Sheet cell.\nconst extraData = raw.signals.message || [];\nconst formattedDetails = extraData.length > 0 \n    ? extraData.join('\\n') \n    : \"No additional metadata captured\";\n\n/**\n * 7. FINAL OBJECT MAPPING\n * This object is passed directly to the Google Sheets \"Append Row\" node.\n */\nreturn {\n    name: raw.signals.name.join(' ') || \"Unknown\",\n    email: raw.signals.email[0] || \"No Email\",\n    phone: cleanPhone,\n    \n    // This contains your secondary contact info and custom form fields\n    details: formattedDetails, \n    \n    status: finalStatus,\n    ai_reason: aiResponse.reason || aiResponse.Reason || \"N/A\",\n    \n    // Metadata for tracking lead origin\n    submission_url: raw.source_url,\n    lead_source: raw.lead_source?.referrer || \"Direct\",\n    trigger_type: raw.lead_source?.type || \"Standard\",\n    utm_params: raw.lead_source?.utm_params || \"None\",\n    \n    // Identification & Chronology\n    customer_id: raw.customer_id,\n    created_at: sheetDate,\n    formatted_time_local: leadDate.toLocaleString(),\n    processed_at: currentTime\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "f6eb597e-bb18-4cf6-8afa-7db55a8f7aa3",
      "name": "Data Normalisation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "Role: You are a B2B Lead Quality Analyst.\n\nTask: Classify lead data authenticity and business intent.\n\nDecision Hierarchy (Follow Strict Order):\n\nStep 1 – Authenticity Check (Highest Priority)\nIf ANY of the following are true → classify as \"Possible Spam\":\n\nEmail contains test, example, xyz, placeholder, sample, dummy\n\nMessage field is empty OR contains fewer than 3 meaningful words\n\nName appears auto-generated or contains numbering patterns\n\nPhone number contains obvious repeating or test patterns\n\nStep 2 – Solicitation Detection\nIf the user is selling services to the business (SEO, backlinks, marketing, HR, web development, lead lists, etc.) → \"Possible Spam\"\n\nStep 3 – Buying Intent Detection\nIf the user is requesting product/service information, pricing, quotes, catalogs, availability, or project discussion → \"New Lead\"\n\nStep 4 – Human But Unclear Intent\nIf lead appears genuine but intent is unclear → \"New Lead\"\n\nConstraint:\nReturn ONLY valid JSON.\n\nRequired Format:\n{ \"status\": \"New Lead\", \"reason\": \"One short sentence explaining classification.\" }"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "5a8c09c0-d046-4019-8120-d193cb3850ca",
      "name": "Lead Classifier ",
      "credentials": {
        "openAiApi": {
          "id": "rCYd5krzGdmsxo7x",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c8dcd878-1de6-4d84-8d51-055a6f718188",
      "name": "Receiving information from webpage.",
      "webhookId": "24217df5-21e3-4290-ac06-1d35e54ca364"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1248,
        240
      ],
      "id": "413e17aa-34a0-44b5-aa07-4ee5520cd583",
      "name": "Close"
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Change Trigger": {
      "main": [
        [
          {
            "node": "If lead type changed to \"New Lead\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If lead type changed to \"New Lead\"": {
      "main": [
        [
          {
            "node": "Send a message with lead information",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If lead type is \"New Lead\"": {
      "main": [
        [
          {
            "node": "Send a message with lead information",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updating CRM with lead information": {
      "main": [
        [
          {
            "node": "If lead type is \"New Lead\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalisation": {
      "main": [
        [
          {
            "node": "Updating CRM with lead information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Classifier ": {
      "main": [
        [
          {
            "node": "Data Normalisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receiving information from webpage.": {
      "main": [
        [
          {
            "node": "Lead Classifier ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v0",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Aden"
  },
  "versionId": "b461bd23-ea9b-455c-a6ab-e35bb25c0508",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aaebc457a970eba80e313498f35f8c96307a60fe22914b6e70cb4e1779f4883"
  },
  "id": "CcF2swZrACJSWuTOjA_wQ",
  "tags": [
    {
      "updatedAt": "2026-02-04T15:54:12.873Z",
      "createdAt": "2026-02-04T15:54:12.873Z",
      "id": "URBmdBzpUN9LT0OC",
      "name": "Gushwork"
    }
  ]
}
